<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
  
  <script src="https://kit.fontawesome.com/b7ec769243.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="../css/style.css" />
  
  <title>Valentina Tejera</title>
</head>
<body>

  <header class="header-container">
    <div class="logo-container">
      <a href="../index.html">
        <img src="../img/valentina.icono.png" alt="Valentina Logo" class="top-icon" />
      </a>
    </div>

    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="./myExperience.html">My Experience</a></li>
        <li><a href="./recommendations.html">Recommendations</a></li>
        <li><a href="./caseStudies.html">Case Studies</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="hero">
    <div class="hero-heading">
      <h1>Companies I Have Worked With</h1>
    </div>

    <section class="customers">
      <ul>
        <li>Freshly Cosmetics</li>
        <li>Holded</li>
        <li>BusUp</li>
        <li>Rakuten TV</li>
        <li>Orbea</li>
        <li>CodeOp</li>
        <li>Tuio</li>
        <li>Central de Reservas</li>
        <li>Verdecora</li>
        <li>RFEF (Real Federación Española de Fútbol)</li>
        <li>Campings.com</li>
        <li>Mesoestetic</li>
        <li>Zumub</li>
        <li>El Independiente</li>
      </ul>
    </section>
  </main>

  <footer>
    <div class="social-icons">
      <a href="https://www.instagram.com/valenth98" target="_blank">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://x.com/valentinatejer8" target="_blank">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/valentina-tejera-hernandez-50ab631a1/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
    <p>&copy; 2025 Valentina. All rights reserved.</p>
  </footer>

</body>
</html>
