<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- fontawesome --> 
    <script src="https://kit.fontawesome.com/b7ec769243.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    
    <title>Valentina Tejera</title>
</head>
<body>

    <header class="header-container">
        <div class="logo-container">
          <a href="../index.html">
            <img src="../img/valentina.icono.png" alt="Valentina Logo" class="top-icon" />
          </a>
        </div>
    
        <input type="checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-icon"></label>
    
        <nav>
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./myExperience.html">My Experience</a></li>
            <li><a href="./recommendations.html">Recommendations</a></li>
            <li><a href="./caseStudies.html">Case Studies</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
        </nav>
      </header>
    
    <main>
        <h1>Reach Out!</h1>
        <p>Leave a message if you would like to get in touch.</p>

        <form action="mailto:valentina@cloudflare.com" method="post" enctype="text/plain">
            <label for="name">Your name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Your email</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Your message</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Send Message</button>
        </form>
    </main>

    <footer>
        <div class="social-icons">
            <a href="https://www.instagram.com/valenth98" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://x.com/valentinatejer8" target="_blank">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/valentina-tejera-hernandez-50ab631a1/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <p>&copy; 2025 Valentina. All rights reserved.</p>
    </footer>    

</body>
</html>
