<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- fontawesome --> 
    <script src="https://kit.fontawesome.com/b7ec769243.js" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">
    
    <title>Valentina Tejera</title>
</head>
<body>

    <header class="header-container">
        <div class="logo-container">
            <a href="../index.html">
            <img src="../img/valentina.icono.png" alt="Foto de perfil" class="top-icon" >
        </div>

        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="#">My Experience</a></li>
                <li><a href="./recommendations.html">Recommendations</a></li>
                <li><a href="./caseStudies.html">Case Studies</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="experience-container">
            <h2 class="experience-heading">My Experience</h2>
          
            <div class="experience-section">
              <div class="experience-item">
                <h3>Onboarding Manager @ Cloudflare</h3>
                <p class="experience-date">2024 — Present</p>
                <p>Empower early-stage startups by providing up to $250,000 in credits and enterprise-level solutions designed to support their growth and help them achieve their business goals.</p>
              </div>
          
              <div class="experience-item">
                <h3>Full Stack Developer </h3>
                <p class="experience-date">2025 - Present </p>
                <p>Passionate Frontend Developer with hands-on experience in HTML, CSS, SCSS, and Node.js. I enjoy turning ideas into clean, responsive, and user-friendly interfaces. Always curious, always learning — currently diving deeper into modern web technologies to build better digital experiences.</p>
              </div>
            </div>
          </section>
        
    </main>

    <footer>
        <div class="social-icons">
            <a href="https://www.instagram.com/valenth98" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://x.com/valentinatejer8" target="_blank">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/in/valentina-tejera-hernandez-50ab631a1/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <p>&copy; 2025 Valentina. All rights reserved.</p>
    </footer>    

</body>
</html>